.global-navigation {
  bottom: -1px;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 100;

  > ul {
    align-items: center;
    backdrop-filter: blur(5px);
    background: rgba($white, 0.75);
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    max-width: $wrap-max-width;
    padding: 0;
    width: 100%;

    > li {
      flex: 1;
    }
  }
}

.btn-global-navigation {
  align-items: center;
  color: $gray40;
  display: flex;
  flex-wrap: wrap;
  font-size: 11px;
  height: $global-navigation-height;
  justify-content: center;
  left: 0;
  line-height: 1.1;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-align: center;
  text-decoration: none;
  top: 0;
  transition: color 0.3s;
  z-index: 1;

  &::before {
    border: 1px solid rgba($gray-snow, 1);
    border-radius: 4px;
    bottom: 10%;
    content: '';
    display: block;
    left: 10%;
    position: absolute;
    right: 10%;
    top: 10%;
    transition: border 0.3s;
    z-index: -1;
  }

  &::after {
    bottom: -101%;
    box-shadow: 0 0 10px $light-blue;
    content: '';
    height: 100%;
    left: 15%;
    opacity: 0;
    position: absolute;
    right: 15%;
    transition: opacity 0.6s, box-shadow 0.9s;
    z-index: -2;
  }

  &__icon {
    font-size: 1.4rem;
    margin-top: 0.4rem;
  }

  &__label {
    display: block;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 2pt;
    margin-top: 0.5em;
    text-align: center;
    text-indent: 2pt;
    width: 100%;
  }

  &--active,
  &:hover {
    color: $light-blue;

    &::after {
      box-shadow: 0 0 50px $light-blue;
      opacity: 0.7;
    }
  }

  &--active {
    &::before {
      border-color: rgba($light-blue, 0.6);
    }
  }
}
