.page-body {
  padding: $page-header-height 0 $global-navigation-height;
}

.page-body-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  position: sticky;
  top: $page-header-height;
  z-index: 10;
}
