.ss-time-list {
  list-style: none;
  padding: 0;
}

.ss-time-list-item {
  display: flex;
  margin-bottom: 0.1rem;
  padding: 0 0.5rem;

  &__pos {
    align-items: center;
    background-color: $white;
    border: 1px solid $white-smoke;
    border-radius: 4px 0 0 4px;
    color: $light-blue;
    display: flex;
    justify-content: center;
    left: 0;
    line-height: 1.1;
    position: relative;
    top: 0;
    width: 56px;

    .pos {
      font-size: 150%;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
    }

    .class-pos {
      bottom: 0;
      padding: 2px 6px 2px 0;
      position: absolute;
      right: 0;
      text-align: right;
      white-space: nowrap;
      z-index: 1;

      &::after {
        border-bottom: 10px solid $white-smoke-darker;
        border-left: 10px solid transparent;
        border-right: 10px solid $white-smoke-darker;
        border-top: 10px solid transparent;
        bottom: 1px;
        content: '';
        position: absolute;
        right: 1px;
        z-index: -1;
      }
    }
  }

  &__body {
    align-items: center;
    background-color: $white;
    border: 1px solid $white-smoke;
    border-radius: 0 4px 4px 0;
    display: flex;
    flex-grow: 1;
    margin-left: 0.1rem;
    padding: 0.5rem;

    &__race-bib-wrap {
      margin-right: 0.5rem;
    }

    &__names {
      font-size: 85%;

      .co-dr {
        color: $text-color-sub;
      }
    }

    &__times {
      align-self: center;
      flex-grow: 1;
      text-align: right;

      .time {
        color: #000;
        font-size: 105%;
        font-weight: bold;
        line-height: 1.1;
        white-space: nowrap;
      }

      .diff {
        color: $text-color-sub;
        font-size: 85%;
        line-height: 1.1;
        margin-bottom: -1em;
        white-space: nowrap;
      }
    }
  }
}
