.wrap {
  background: linear-gradient(rgb(255 255 255), rgb(223 224 230));
  border: 1px solid #000;
  left: 0;
  margin: 0 auto;
  max-width: 540px;
  min-height: 100vh;
  position: relative;
  top: 0;
  width: 100%;
}
