.page-body {
  &--times {
    .toggle-switch-wrap {
      flex-grow: 1;
      padding-right: 1rem;
    }

    .result-list-wrap {
      overflow: hidden;
      width: 100%;

      .result-list {
        display: flex;
        left: 0;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 0;
        transition: left 0.3s;
        width: 200%;
        z-index: 1;

        .result-list-item {
          flex: 1;

          &__title {
            text-align: center;
            color: $light-blue;
          }
        }
      }
    }

    @media screen and (min-width: map-get($grid-breakpoints, 'md')) {
      .toggle-switch-wrap {
        visibility: hidden;
      }

      .result-list-wrap {
        .result-list {
          width: 100%;
        }
      }

      .result-list-item {
        &--over-all {
          .ss-time-list-item {
            &__pos,
            &__body {
              background-color: rgb(255 255 255 / 80%);
            }
          }
        }
      }
    }
  }
}
