$white: #fff;
$snow: #f9f9f9;
$gray-snow: #eaecf2;
$white-smoke: #f2f2f2;
$white-smoke-darker: #efefef;

$light-slate-gray: #7d808c;
$gray40: #666;
$blue-black: #142b31;
$light-blue: #29abe2;

$light-green : #66cc33;
$vivid-red : #ff3333;

$text-color-default: $blue-black;
$text-color-sub: $light-slate-gray;
