:root {
  --r-gainsboro: #DCDCDC; // rgb(220, 220, 220);
  --r-lightGray: #D3D3D3; // rgb(211, 211, 211);
  --r-silver: #C0C0C0; // rgb(192, 192, 192);
  --r-darkGray: #A9A9A9; // rgb(169, 169, 169);
  --r-gray: #808080; // rgb(128, 128, 128);
  --r-dimGray: #696969; // rgb(105, 105, 105);
  --r-lightSlateGray: #778899; // rgb(119, 136, 153);
  --r-slateGray: #708090; // rgb(112, 128, 144);
  --r-darkSlateGray: #2F4F4F; // rgb(47, 79, 79);
  --r-black: #000000; // rgb(0, 0, 0);
}